.flex-item {
    background-color: whitesmoke;
    font-family: "Lato", sans-serif;
    color: brown; 
    border: 1px solid goldenrod;
    padding: 10px;
    margin: 5px;
    max-width: 200px;
}
.flex-item:nth-last-of-type(odd) {
    background-color: ivory;
}
.container {
    border: 2px dashed purple;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
}


