form {
    width: 500px;
    background-color: #213b50;
    color: white;
    padding: 20px;
}
form input, form select {
    margin-bottom: 10px;
    background-color: #2b4a64;
}
form label {
    display: block;
    margin-bottom: 5px;
}

form select, form input[type="text"], form input[type="tel"], form input[type="email"], form textarea {
    width: 300px;
    background-color: #2b4a64;
    color: white;
    height: 25px;
    border: none;
}
form select:focus, form input:focus, form textarea:focus {
    background-color: #4e708c;
    border: white 1px solid;
    outline: none;
}
form input[type='checkbox'], form input[type='radio'] {
    float: left;
}
form input[type='submit'] {
    background-color: yellowgreen;
    border: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;
}