[title] {
    color: red;
}

[title="About me"] {
    color: yellow;
}

[title~= "me"] {
    color: greenyellow;
}

[title*="Con"] {
    color: grey;
}
[title^="Section"] {
    color: gold;
}
[title$="skills"] {
    color: indigo;
    background-color: lawngreen;
}
nav > ul > li > a [title*="oll"] {
    background-color: lightcoral;
}
nav > ul > li > a [title*="oll"]:hover {
    background-color: yellow;
}